<style>

</style>

<div class="top r row right">

  <div class="row" style="padding: 0px; padding-left: 5px">
    <div class="col-lg-3">
      <div class="btn row" (click)="goToSuppliersList()" >
        <div class="col-lg-1"><img  style=" margin-top: 5px" src="assets/Vector (1).jpg"></div>
        <div class="test1"><span style="vertical-align: middle; display: inline-block">Все поставщики</span></div>
      </div>
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-2" (click)="goToSuppliersList()"><img style="margin-left: 135px; margin-top: 5px" src="assets/icon_Close_type2.jpg"></div>
  </div>



  <div class="col-md-6">

    <div class="row">
      <div class="col-lg-4" style="font-weight: bold">{{test.name}}</div>
      <div class="col-lg-2" (click)="edit()"><img class="myClass1" style="margin-left: 25px" src="assets/Group.jpg"></div>
    </div>
    <div class="table-bordered" style="border-color: #569E95">

      <div class="row">
        <div class="col-lg-5 test">Наименование поставщика</div>
        <div class="col-lg-5 test" style="text-align: left;">{{test.name}}</div>
        <div class="col-lg-2 test" ><img class="myClass1" style="margin-left: 25px" src="assets/Vector.jpg"></div>
      </div>

      <div class="row">
        <div class="col-lg-12 test" style="text-underline: #569E95; font-weight: bold">Контактная информация</div>
      </div>

      <div class="row">
        <div class="col-lg-5 test">Региональная принадлежность</div>
        <div class="col-lg-7 test" style="text-align: left;">{{test.region}}</div>
      </div>
      <div class="row">
        <div class="col-lg-5 test">Адрес фактический</div>
        <div class="col-lg-7 test" style="text-align: left;">{{test.addressactual}}</div>
      </div>
      <div class="row">
        <div class="col-lg-5 test">Адрес юридический</div>
        <div class="col-lg-7 test" style="text-align: left;">{{test.addresslegal}}</div>
      </div>
      <div class="row">
        <div class="col-lg-5 test">E-mail</div>
        <div class="col-lg-7 test" style="text-align: left;">{{test.email}}</div>
      </div>
      <div class="row">
        <div class="col-lg-5 test">Телефон</div>
        <div class="col-lg-7 test" style="text-align: left;">{{test.phone}}</div>
      </div>

      <div class="row">
        <div class="col-lg-12 test" style="text-underline: #569E95; font-weight: bold">Сведения о контактных лицах</div>
      </div>

      <div *ngFor="let cont of test.contacts" style="margin-top: 10px; margin-bottom: 10px">
        <div class="row">
          <div class="col-lg-5 test">ФИО</div>
          <div class="col-lg-7 test">{{cont.name}}</div>
        </div>
        <div class="row">
          <div class="col-lg-5 test">E-mail</div>
          <div class="col-lg-7  test">{{cont.email}}</div>
        </div>
        <div class="row">
          <div class="col-lg-5 test">Телефон</div>
          <div class="col-lg-7 test">{{cont.phone}}</div>
        </div>

      </div>

    </div>


    <div class="row" style="margin-top: 15px">
      <div class="col-lg-1">Файлы</div>
      <div class="col-lg-1 m-l-1"><img style="height: 25px; margin-top: 0px" class="myClass1" src="assets/icon_Add.jpg"></div>
    </div>

    <div class="table table-bordered" style="margin-top: 10px; margin-bottom: 15px; border-color: #569E95; height: 170px">

      <div class="row" style="margin-top: 10px;">
        <div class="col-lg-2"><img style="height: 25px; margin-top: 0px; margin-left: 5px" class="myClass1" src="assets/icon_Attach.jpg"></div>
        <div class="col-lg-4">имя файла</div>
        <div class="col-lg-2"><img style="height: 25px; margin-top: 0px" class="myClass1" src="assets/icon_Close.jpg"></div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-5">Дополнительная информация</div>
    </div>

    <div class="table-bordered" style="margin-top: 10px; border-color: #569E95; height: 100px">
      <div style="margin-left: 5px">{{test.additionalinfo}}</div>
    </div>

    <div style="padding-top: 10px;" class="form-group">
      <button style="border-color: #569E95; background-color: white; font-family: 'Bauhaus 93'" class="btn "  (click)="deleteSupplier(test)">Удалить поставщика</button>
    </div>
  </div>


  <div class="col-md-6">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4" style="font-weight: bold; height: 26px">Архив переговоров</div>
      </div>
      <div class="table-bordered" style=" border-color: #569E95; height: 170px"></div>
    </div>

    <div *ngIf="done" class="r">
      <div>Получено от сервера:</div>
      <div>Имя: {{test.name}}</div>
      <div>Возраст: {{name}}</div>
    </div>
  </div>

</div>


