<header>
  <div class="topnav" style="height: 50px">
    <div class="row" >
      <div class="col-lg-1 "><img style="margin-left: 38px"  src="assets/logo1.png" height="50px" ></div>
      <div class="pull-lg-right" style="margin-top: 13px">
        <button style="height: 25px; margin-right: 30px; padding-top: 2px" class="btn " (click)="logOut()">Выход</button>
      </div>
      <div class="pull-lg-right" style="margin-right: 20px; margin-top: 13px" >{{username}}</div>
      <div class=" pull-lg-right" style="margin-right: 20px; margin-top: 13px">IM</div>
    </div>
  </div>
</header>
