<div class="r container-fluid ">
  <div class="row" style="padding-right: 50px">
    <div class="col-lg-2 pd pdb">Весь список</div>
    <div class="col-lg-2 pd db ">
      <input style="height:25px; width: 150px" type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Поиск">
    </div>
    <div class="col-lg-2 pd pdb">Фильтр</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
    <div style="padding-top: 10px;" class="form-group col-lg-2">
      <button style="margin-top: 10px; border-color: #569E95; background-color: #569E95; color: white; font-family: 'Bauhaus 93'" class="btn "  (click)="cl()">Добавить покупателя</button>
    </div>
  </div>

  <div class="row" >
    <div style="text-align: left;" class="col-md-2 pdb pdt">
      <h4>{{name}}</h4>
    </div>
    <div style="text-align: right; padding-right: 80px" class="col-md-10 pdt">[Отображение меток для фильтрации]</div>
  </div>

  <table class="table table-bordered table-hover" >
    <thead class="thead-dark ">
    <tr style="background-color: #D4E3DF">
      <th scope="col">Название</th>
      <th scope="col">Контакты</th>
      <th scope="col">Телефон</th>
      <th scope="col">Регион</th>
      <th scope="col">Последняя информация</th>
      <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let customer of pageClient.content" [routerLink]="['/customers', customer.id]">
      <td>{{ customer.name }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.region }}</td>
      <td>{{ customer.lastinfo }}</td>
      <td>{{ customer.date.split(' ')[0] }}</td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="...">
    <ul style="margin-left: 480px;margin-top:-10px;" class="pagination1"  *ngIf="pageClient?.content" >
      <li *ngFor="let page of ' '.repeat(pageClient.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item1"><a class="page-link1" >{{i}}</a></li>
    </ul>
  </nav>
</div>



